@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 300 20% 99%; /* Mauve 1 - Light */
    --foreground: 20 14.3% 4.1%;
    --card: 300 20% 99%; /* Mauve 1 - Light */
    --card-foreground: 20 14.3% 4.1%;
    --popover: 300 20% 99%; /* Mauve 1 - Light */
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 173 80% 36%; /* Teal 9 */
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 270 20% 98%; /* Mauve 2 - Light */
    --secondary-foreground: 24 9.8% 10%;
    --muted: 270 20% 98%; /* Mauve 2 - Light */
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 270 20% 98%; /* Mauve 2 - Light */
    --accent-foreground: 24 9.8% 10%;
    --destructive: 358 65% 49%; /* Red 11 - Light */
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 262 11% 86%; /* Mauve 6 - Light */
    --input: 262 11% 86%; /* Mauve 6 - Light */
    --ring: 173 80% 36%; /* Teal 9 */
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 270 6% 7%; /* Mauve 1 - Dark */
    --foreground: 60 9.1% 97.8%;
    --card: 270 4% 10%; /* Mauve 1 - Dark */
    --card-foreground: 60 9.1% 97.8%;
    --popover: 270 6% 7%; /* Mauve 1 - Dark */
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 173 80% 36%; /* Teal 9 */
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 270 4% 10%; /* Mauve 2 - Dark */
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 270 4% 10%; /* Mauve 2 - Dark */
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 270 4% 10%; /* Mauve 2 - Dark */
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 358 75% 59%; /* Red 9 - Dark */
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 270 5% 24%; /* Mauve 6 - Dark */
    --input: 270 5% 24%; /* Mauve 6 - Dark */
    --ring: 173 80% 36%; /* Teal 9 */
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* .test {
  color: hsl(257, 10%, 14%);
} */
